body{
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Exo 2', sans-serif;
}
section{
	padding: 60px 0;
}
.blue{
	background-color: #fff;
	background-image: url(img/light-bg.jpg);
	color: #333;
}
.dark{
	background-color: #444;
	color: #fff;
	background-image: url(img/dark-bg.png);
}
h1{
	text-align: center;
	margin: 0 0 50px 0;
	position: relative;
	font-size: 42px;
	color: #FF6347;
	letter-spacing: 7px;
}
h1:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	width: 140px;
	height: 3px;
	background-color: #fff;
	margin-left: -70px;
}
h2{
	text-align: center;
	margin: 0 0 60px 0;
	font-size: 32px;
}
a:hover,
a:focus{
	text-decoration: none;
}
ul, li{
	list-style: none;
}
/*---------------------main-head----------------*/
.main-head{
	width: 100%;
	height: 100vh;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}
.main-head:before{
	content: '';
	display: block;
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
}
.top-head{
	position: relative;
	padding-top: 30px;
	z-index: 10;
}
.logo-wrap{
	float: left;
	width: 140px;
}
.logo-wrap img{
	max-width: 100%;
}
.top-head .header-title{
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -160px;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 10px;
	color: #fff;
}
.header-menu-btn{
	float: right;
}
.mm-menu.mm-offcanvas{
	z-index: 1;
}
.middle-head{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.header-text-wrap{
	display: inline-block;
	text-align: center;
}
.header-text-wrap p{
	letter-spacing: 3px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: sans-serif;
}
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after{
	background-color: #FF6347;
	border-radius: 0;
	width: 34px;
	height: 2px;
}
.mm-menu.mm-theme-black .mm-navbar a, .mm-menu.mm-theme-black .mm-navbar>*{
	color: #FF6347;
}
.mm-listview>li>a, .mm-listview>li>span{
	padding: 20px 10px 20px 20px;
	transition: all .3s ease;
}
.mm-listview>li>a:hover{
	color: #FF6347;
}
.mm-listview>li, .mm-listview>li .mm-next, .mm-listview>li .mm-next:before, .mm-listview>li:after{
	border-color: transparent;
	text-align: center;
}
.mm-listview>li{
	position: relative;
}
.mm-panel.mm-hasnavbar .mm-navbar{
	display: none;
}
.mm-listview>li:hover>span.border-link{
	padding: 0;
}

/*-------------------portfolio-------------------*/
.portfolio{
	background-image: url(img/light-bg.jpg);
}
.port-item{
	margin: 0 0 30px 0;
	height: 280px;
	overflow: hidden;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
}
.port-item .port-link{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	outline: 1px solid rgba(0,0,0,.2);
}
.port-item .port-link:hover .caption{
	opacity: .6;
}
.port-item .port-link .caption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.9);
	opacity: 0;
	transition: all .4s ease;
}
.port-item .port-link .caption .caption-content{
	color: #fff;
	font-size: 32px;
	transform: translateY(-90px);
	transition: all .4s ease;
}
.port-item .port-link:hover .caption .caption-content{
	transform: translateY(0);
}
.port-item .port-link img{
	max-width: 100%;
	height: auto;
}

/*-----------------------Rezume---------------------------*/
.rezume{
	position: relative;

}
.rezume .rezume-left{
	text-align: right;
}
.rezume .rezume-right{
	text-align: left;
}
.rezume-icon{
	font-size: 40px;
	margin-bottom: 30px;
}
.rezume-item{
	margin-bottom: 30px;
}
.item-info{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 15px;
	background-color: #FF6347;
	margin-bottom: 15px;
}
.rezume-item-text{
	line-height: 20px;
	height: 80px;
	overflow: hidden;
}

/*-----------------------contacts--------------------*/
.contacts h2{
	margin-bottom: 60px;
}
.contact-item{
	text-align: center;
}
.contact-item .contact-icon{
	margin-bottom: 5px;
}
.contact-item .contact-desc a{
	color: #333;
	text-decoration: none;
	border-bottom: 2px dotted #FF6347;
	transition: all .2s ease;
}
.contact-item .contact-desc a:hover{
	color: #444;
	border-bottom: 2px solid rgba(0,0,0,0);
}

/*----------------------footer-----------------------*/
footer{
	padding: 30px 0;
}
footer .nav-bottom{
width: 100%;
margin-top: 15px;
}
footer .nav-bottom ul{
	display: flex;
	justify-content: space-between;
}
footer .nav-bottom li{
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
footer .nav-bottom li a{
	font-size: 18px;
	padding: 10px;
	color: #fff;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
footer .nav-bottom li a:hover{
	color: #FF6347;
}
footer .nav-bottom li .border-link,
.mm-listview>li>span.border-link{
	display: block;
	width: 0;
	height: 2px;
	position: absolute;
	left: 50%;
	bottom: -2px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	padding: 0;

}
footer .nav-bottom li:hover .border-link,
footer .nav-bottom li.active .border-link,
.mm-listview>li:hover>span.border-link{
	background-color: #FF6347;
	width: 100%;
	left: 0;
}

