/*----------------------Reset----------------------------*/

body,div,ul,ol,li,h1,h2,h4,
h4,h5,h6,form,input,
textarea,p{
    margin:0;
    padding:0;
}
ol,ul {
    list-style:none;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
a, a:hover{
	text-decoration: none;
}

/*--------------------------------------------------*/
body{
	font-size: 16px;
	font-family: "OpenSans-Regular", sans-serif;
}
h1{
	font-family: "OpenSans-ExtraBold",sans-serif;
	font-size: 60px;
	text-transform: uppercase;
	line-height: 72px;
}
h2{
	font-family: "OpenSans-Bold",sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 55px;
}
h3{
	font-family: "OpenSans-SemiBold",sans-serif;
	font-size: 30px;
	text-transform: uppercase;
}
h4{
	font-family: "OpenSans-SemiBold",sans-serif;
	font-size: 24px;
}
h5{
	font-family: "OpenSans-Bold",sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}
.button{
	padding:15px 60px;
	font-size: 18px;
	font-family: "OpenSans-Bold", sans-serif;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
}
.button:hover,
.button:focus{
	text-decoration: none;
}
.sect_wrap{
	padding:100px 0;
}

/*------------------------------HEADER---------------------------*/
.header_bg{
	background-color: #f6f2f1;
}
.header_top{
	padding-top: 30px;
}
.navbar-default{
	background-color: #312f30;
	border: none;
}
.navbar{
	border-radius: 0;
}
.navbar-default .navbar-collapse{
	text-align: center;
}
.navbar-nav{
	float: none;
    display: inline-block;
    float: none;
    margin-bottom: -5px;
}
.navbar-default .navbar-nav>li>a{
	padding: 45px 25px 35px;
	color: #e0e0e0;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "OpenSans-bold", sans-serif;
	transition: all .5s ease;

}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
	background-color: #ff3f40;
	color: #e0e0e0;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover{
	background-color: #ff3f40;
	color: #e0e0e0;
}
.header_bottom{
	padding: 80px 0 110px;
}
.header_bottom h1{
	margin-bottom: 35px;
}
.header_bottom p{
	font-size: 16px;
	line-height: 28px;
	opacity: 0.7;
	margin-bottom: 55px;
}
.btn_red{
	background-color: #ff3f40;
	color: #fff;
	margin-bottom: 120px;
	transition: all .3s ease;
}
.btn_red:hover,
.btn_red:focus{
	background-color: #BF0707;
	color: #fff;
}
.header_video_wrap{
	margin-left: 75px;
	margin-top: 10px;
	position: relative;
	text-align: right;
}
.header_video_wrap video{
	max-width: 100%;
	box-shadow: 14px 14px  73px 0 rgba(0,0,0, .29), -14px -14px  73px 0 rgba(0,0,0, .29);
	height: 360px;
	transition: all .5s ease;
}
.header_video_wrap video:hover{
	box-shadow: 14px 14px 73px 0 rgba(0,0,0, .4), -14px -14px 73px 0 rgba(0,0,0, .4);
}
.header_video_wrap img{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: 0;
}

/*-------------------------TIZERS-------------------------*/
.tizers h2{
	letter-spacing: -1px;
	margin-bottom: 60px;
	opacity: .8;
}
.tizers p.learn{
	line-height: 28px;
	margin-bottom: 60px;
}
.btn-transparent-red{
	color: #ff3f40;
	border:2px solid #ff3f40;
	transition: all .3s ease;
}
.btn-transparent-red:hover{
	color: #BF0707;
	border-color:#BF0707;
	text-decoration: none;
}
.tizer_item{
	margin-bottom: 50px;
}
.tizer_item:last-child{
	margin-bottom: 10px;
}
.tizer_img img{
	margin-bottom: 30px;
	margin-top: 10px;
}
.tizer_info h4{
	margin-bottom: 20px;
}
.tizers .sect_wrap{
	padding-bottom: 0;
}
.tizer_border{
	border-bottom: 2px solid #ececec;
	padding-bottom: 110px;
}


/*------------------PRODUCTS-----------------------*/
.products .product_top{
	text-align: center;
}
.products .product_top h2,
.team_top h2,
.order_top h2{
	margin-bottom: 40px;
}
.products .product_top p,
.team_top p,
.order_top p{
	margin-bottom: 30px;
}
.red_line{
	display: inline-block;
	width: 130px;
	height: 3px;
	background-color: #ff3f40;
	margin-bottom: 90px;
}
.product_nav{
	text-align: center;
	padding-bottom: 30px;
	margin-bottom: 35px;
}
.product_nav ul li{
	display: inline-block;
}
.product_nav ul li a{
	padding: 5px 25px;
	text-transform: uppercase;
	color: #000;
	font-family: "OpenSans-SemiBold", sans-serif;
	font-size: 22px;
	opacity: .7;
	transition: all .5s ease;
}
.product_nav ul li a:hover,
.product_nav ul li.active a{
	color: #ff3f40;
}
.product_img{
	width: 100%;
	padding-bottom: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 20px;
	position: relative;
}
.product_img a{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	outline: none;
	transition: all .5s ease;
}
.product_img a:hover{
	box-shadow: 3px 3px 6px 2px rgba(0,0,0, .4);
}


/*---------------------------TEAM--------------------*/
.team_bottom{
	/*position: relative;*/
}
.team_bottom .team_main_img{
	height: 450px;
	width: 34%;
	float: left;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.team_bottom .team_main_img a{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	outline: none;
}
.team_bottom .team_other{
	float: left;
	width: 66%;
	padding-left: 65px;

}
 .team_bottom .team_other .team_other_text h3{
 	margin-bottom: 35px;
 	margin-top: 0;
 }
  .team_bottom .team_other .team_other_text p{
 	margin-bottom: 20px;
 	min-height: 80px;
 }
.team_bottom .social_links{
	margin-bottom: 65px;
}
.team_bottom .social_links a{
	display: inline-block;
	margin-right: 25px;
	color: #000;
	font-size: 18px;
	font-family: "OpenSans-Italic";
	transition: all .5s ease;
}
.team_bottom .social_links a:hover{
	color: #ff3f40;
}
.team_other_img a{
	display: inline-block;
	height: 140px;
	width: 23%;
	margin-right: 10px;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	outline: none;
	transition: all .5s ease;
}
.team_other_img a:last-child{
	margin-right: 0;
}
.team_other_img p.members_name{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	height: 26%;
	width: 100%;
	text-align: center;
	line-height: 38px;
	color: #fff;
	text-transform: uppercase;
	opacity: 0;
	transition: all .5s ease;
}
.team_other_img a:hover{
	transform: scale(1.1);
}
.team_other_img a:hover p.members_name{
	display: block;
	transition: all .5s ease;
	opacity: .5;
}
.team_other_img{
	margin-top: 115px;
}

.team_other_img a img{
	max-width: 100%;
	height: 100%;
}

/*-----------------------------SUBSCRIBE--------------------------*/
.subscribe{
	min-height: 500px;
}
.subscribe .sect_wrap{
	padding-bottom: 0;
}
.subscribe_bg{
	background-image: url(../img/subscribe_bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	padding:160px 0 140px;
	text-align: center;
	position: relative;
	z-index: 1;
}
.subscribe_bg:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 0;
}
.subscribe_inner{
	position: relative;
	z-index: 3;
}
.subscribe h2,
.subscribe p{
	color: #fff;
}
.subscribe p{
	margin-bottom: 65px;
}
.subscribe .btn-big{
	padding:30px 60px;
	background-color: #ff3f40;
	color: #fff;
	text-transform: uppercase;
	border-radius: 6px;
	transition: all .5s ease;
}
.subscribe .btn-big:hover{
	background-color: #BF0707;
}
.subscribe input{
	padding:30px;
	max-width: 460px;
	margin-right: 25px;
	border-radius: 6px;
	outline: none;
	border:0;
}


/*------------------------MESSAGE------------------------*/
.message_top h2{
	margin-bottom: 60px;
}
.message_top p{
	margin-bottom: 60px;
}
.message input{
	padding:25px 50px;
	border:none;
	border-radius: 5px;
	background-color: #e5e5e5;
	max-width: 45%;
	color: #000;
	border:0;
	outline: none;
}
.message input[name="name"]{
	margin-right: 58px;
	margin-bottom: 45px;
}
.message textarea{
	padding:25px 50px;
	border:none;
	border-radius: 8px;
	background-color: #e5e5e5;
	width: 100%;
	resize: none;
	margin-bottom: 45px;
	border:0;
	outline: none;
}
.message .btn_large{
	padding:30px 60px;
	background-color: #ff3f40;
	color: #fff;
	text-transform: uppercase;
	border-radius: 8px;
	width: 100%;
	text-align: center;
	transition: all .5s ease;
}
.message .btn_large:hover{
	background-color: #BF0707;
}
.message .contact_info{
	padding:140px 0 140px 80px;
	background-color: #000;
}
.message .contact_info h5,
.message .contact_info p{
	color: #fff;
}

.message_bottom{
	position: relative;
}

.contact_info{
	position: absolute;
	bottom:0;
	top:0;
	right: 0;
	width: 40%;
}
.contact_info h5{
	margin-bottom: 45px;
}
.contact_info p{
	line-height: 44px;
}
.contact_info a{
	color: #fff;
	line-height: 44px;
}
.contact_info a:hover{
	color: #ff3f40;
}

::-webkit-input-placeholder {color:#ababab;}

::-moz-placeholder          {color:#ababab;}/* Firefox 19+ */

:-moz-placeholder           {color:#ababab;}/* Firefox 18- */

:-ms-input-placeholder      {color:#ababab;}


.footer_bg{
	background-color: #313030;
	padding: 50px 0 30px;
	color: #ebebeb;
}
.copyright{
	float: left;
}
.social_icons{
	float: right;
}
.icons_item{
	display: inline-block;
	transition: all .5s ease;
}
.icons_item:hover{
	transform: translateY(-10%);
}
.icons_item img{
	margin-left: 12px;
}

/*------------------------BUTTON-TOP------------------------*/
.top{
	display: block;
	position: fixed;
	bottom: 30px;
	right: -1000px;
	background-color: #e0e0e0;
	z-index: 100;
	border-radius: 50%;
	color: #666;
	font-size: 26px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	transition: all .5s ease;
	opacity: .7;
}
.top:hover{
	color: #fff;
	opacity: .6;
	background-color: #BF0707;
}
.top.active{
	right: 25px;
}
